<div class="page-container">
  <h2 class="titulo-pagina">Tela Limites</h2>

  <div class="content-container">
    <app-display label="Função f(x):" [value]="expressaoStr"></app-display>
    <app-display label="x →" [value]="valorXStr"></app-display>

    <div class="campo-atual">
      Campo selecionado: <span>{{ campoAtual | uppercase }}</span>
    </div>

    <div class="coeficientes-row">
      <div class="coef-box" [class.ativo]="campoAtual === 'expressao'" (click)="selecionarCampo('expressao')">
        <div class="coef-label">Expressão</div>
        <div class="coef-valor">{{ expressaoStr || 'E(x)' }}</div>
      </div>

      <div class="coef-box" [class.ativo]="campoAtual === 'valorX'" (click)="selecionarCampo('valorX')">
        <div class="coef-label">Valor X</div>
        <div class="coef-valor">{{ valorXStr || 'V(x)' }}</div>
      </div>
    </div>

    <div class="botoes-container">
      <button class="operador-btn" (click)="adicionar('x')">x</button>
      <button class="operador-btn" (click)="adicionar('^')">^</button>
      <button class="operador-btn" (click)="adicionar('*')">*</button>
      <button class="apagar-btn" (click)="apagarUltimo()">←</button>

      <button (click)="adicionar('7')">7</button>
      <button (click)="adicionar('8')">8</button>
      <button (click)="adicionar('9')">9</button>
      <button class="clear-btn" (click)="limpar()">C</button>

      <button (click)="adicionar('4')">4</button>
      <button (click)="adicionar('5')">5</button>
      <button (click)="adicionar('6')">6</button>
      <button class="calcular-btn" (click)="calcularLimite()">=</button>

      <button (click)="adicionar('1')">1</button>
      <button (click)="adicionar('2')">2</button>
      <button (click)="adicionar('3')">3</button>
      <button class="operador-btn" (click)="adicionar('+')">+</button>

      <button class="zero-btn" (click)="adicionar('0')">0</button>
      <button class="operador-btn" (click)="adicionar('-')">-</button>
      <button class="operador-btn" (click)="adicionar('.')">.</button>

      <button class="zero-btn" (click)="adicionar('(')">(</button>
      <button (click)="adicionar(')')">)</button>
      <button class="operador-btn" (click)="adicionar('/')">/</button>
    </div>

    @if (resultado) {
    <div class="resultado">
      <span>Resultado:</span>
      <strong>{{ resultado }}</strong>
    </div>
    }
  </div>
</div>