<div class="page-container">
    <h2 class="titulo-pagina">Sobre o Projeto</h2>
    <div class="content-container">
        <p class="descricao">
          {{ descricao }}
        </p>
    </div>

    <h3 class="titulo-pagina">Integrantes do grupo</h3>
    <div class="content-container">
          <li *ngFor="let membro of integrantes">
            {{ membro }}
          </li>
    </div>

    <h4 class="titulo-pagina">Tecnologias utilizadas</h4>
    <div class="content-container">
      <li *ngFor="let tecnologias of tecnologias">
        {{ tecnologias }}
      </li>
    </div>
</div>
