<div class="layout">
  <!-- MENU -->
  <aside class="sidebar" [class.open]="menuAberto">
    <h1 class="logo">Calculadora A3</h1>

    <nav class="menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>

      <a routerLink="/operacoes-basicas" routerLinkActive="active">
        Operações Básicas
      </a>
      
      <a routerLink="/juros" routerLinkActive="active">
        Juros
      </a>

      <a routerLink="/trigonometria" routerLinkActive="active">
        Trigonometria
      </a>

      <a routerLink="/matriz" routerLinkActive="active">
        Matriz
      </a>

      <a routerLink="/funcao-1" routerLinkActive="active">
        Função 1º Grau
      </a>

      <a routerLink="/funcao-2" routerLinkActive="active">
        Função 2º Grau
      </a>

      <a routerLink="/multiplicar-polinomio" routerLinkActive="active">
        Multiplicação de Polinomio
      </a>

      <a routerLink="/dividir-polinomio" routerLinkActive="active">
        Divisão de Polinomio
      </a>
    </nav>
  </aside>

  <!-- BOTÃO HAMBURGUER MOBILE -->
  <button class="hamburger" (click)="toggleMenu()">☰</button>

  <!-- CONTEÚDO -->
  <main class="content" (click)="fecharMenuMobile()">
    <router-outlet></router-outlet>
  </main>
</div>
