<div class="page-container">
  <h2 class="titulo-pagina">Tela de Matriz</h2>

  <div class="content-container">

    <form [formGroup]="matrizForm" (ngSubmit)="gerarMatriz()">
      <div class="form-group">
        <label for="linhas">Linhas (Máximo de 20)</label>
        <input type="number" id="linhas" formControlName="linhas" (ngModelChange)="resetarMatriz()" (keypress)="permitirSomenteNumeros($event, 20)"
             (paste)="bloquearPasteNegativo($event)" placeholder="Ex: 3"/>
      </div>

      <div class="form-group">
        <label for="colunas">Colunas (Máximo de 20)</label>
        <input type="number" id="colunas" formControlName="colunas" (ngModelChange)="resetarMatriz()" (keypress)="permitirSomenteNumeros($event, 20)"
             (paste)="bloquearPasteNegativo($event)" placeholder="Ex: 4"/>
      </div>

      <div class="form-group">
        <label for="regra">Regra (use i para linhas e j para colunas)</label>
        <input type="text" id="regra" formControlName="regra" placeholder="Ex: i*i*j - 10"/>
      </div>

      <app-checkbox
        label="Matriz Diagonal"
        [checked]="matrizForm.get('matrizDiagonal')?.value"
        (checkedChange)="matrizForm.get('matrizDiagonal')?.setValue($event)">
      </app-checkbox>

      <button type="submit" class="action-btn">Gerar Matriz</button>
    </form>

    <div *ngIf="matriz.length > 0" class="matriz-container">
      <h2 class="sub-title">Resultado de Matriz</h2>
      <table class="matriz-table">
        <tr *ngFor="let linha of matriz">
          <td *ngFor="let cel of linha">{{ cel }}</td>
        </tr>
      </table>
      <button *ngIf="matrizTransposta.length == 0" class="action-btn" (click)="gerarTransposta()">Gerar Matriz Transposta</button>
    </div>

    <div *ngIf="matrizTransposta.length > 0" class="matriz-container">
      <h2 class="sub-title">Resultado de Matriz Transposta</h2>
      <table class="matriz-table">
        <tr *ngFor="let linha of matrizTransposta">
          <td *ngFor="let cel of linha">{{ cel }}</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="content-container">
    <h4>Exemplos:</h4>
      <ul>
        <li><strong>Exemplo 1:</strong> Linhas: 3, Colunas: 3, Regra: i + j</li>
        <li><strong>Exemplo 2:</strong> Linhas: 2, Colunas: 4, Regra: i * j − 1</li>
    </ul>
  </div>
</div>
