.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-pagina {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content-container {
  width: 600px;
  background: #ffffff;
  margin-top: 25px;
  padding: 25px;
  border-radius: 22px;
  box-shadow: 0 0 15px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  gap: 18px;
}